<div class="banner">
    <div class="container slider">
        <input id="container__img1" type="radio" name="slide_img" checked>
        <input id="container__img2" type="radio" name="slide_img">
        <input id="container__img3" type="radio" name="slide_img">
        <div class="slider__img slider__img-item1"><img class="slider__img-item-pic" src="./img/baner1.png" alt="slider"></div>
        <div class="slider__img slider__img-item2"><img class="slider__img-item-pic" src="./img/baner2.png" alt="slider"></div>
        <div class="slider__img slider__img-item3"><img class="slider__img-item-pic" src="./img/baner3.png" alt="slider"></div>
        <a class="slider__button" href="#">Learn More</a>
        <div id="slider__next">
            <label for="container__img1"><img class="slider__next-img" src="./img/next1.png" alt="next"></label>
            <label for="container__img2"><img class="slider__next-img" src="./img/next1.png" alt="next"></label>
            <label for="container__img3"><img class="slider__next-img" src="./img/next1.png" alt="next"></label>
        </div>
        <div id="slider__prev">
            <label for="container__img1"><img class="slider__prev-img" src="./img/prev1.png" alt="prev"></label>
            <label for="container__img2"><img class="slider__prev-img" src="./img/prev1.png" alt="prev"></label>
            <label for="container__img3"><img class="slider__prev-img" src="./img/prev1.png" alt="prev"></label>
        </div>
    </div>
</div>