<div class="portfolio">
    <div class="wrap">
        <div class="portfolio__title font-large">
            <p>Portfolio</p>
        </div>
        <div class="portfolio__img portfolio-img-group">
            <img class="portfolio-img-group__item" src="./img/1.png" alt="mountain">
            <img class="portfolio-img-group__item" src="./img/2.png" alt="photographer">
            <img class="portfolio-img-group__item" src="./img/3.png" alt="foliage">
            <img class="portfolio-img-group__item" src="./img/4.png" alt="joystick">
            <img class="portfolio-img-group__item" src="./img/5.png" alt="city">
            <img class="portfolio-img-group__item" src="./img/6.png" alt="flowers">
        </div>
        <a class="portfolio__button color-blue" href="#">See all works</a>
    </div>
</div>
