<div class="testimonials">
    <div class="box comment">
        <input id="box__img1" type="radio" name="comment_img" checked>
        <input id="box__img2" type="radio" name="comment_img">
        <input id="box__img3" type="radio" name="comment_img">
        <div class="comment__img comment__img-item1"><img class="comment__img-item" src="./img/comment1.png" alt="slider"></div>
        <div class="comment__img comment__img-item2"><img class="comment__img-item" src="./img/comment2.png" alt="slider"></div>
        <div class="comment__img comment__img-item3"><img class="comment__img-item" src="./img/comment3.png" alt="slider"></div>
        <div id="comment__next">
            <label for="box__img1"><img class="comment__next-item" src="./img/next.png" alt="next"></label>
            <label for="box__img2"><img class="comment__next-item" src="./img/next.png" alt="next"></label>
            <label for="box__img3"><img class="comment__next-item" src="./img/next.png" alt="next"></label>
        </div>
        <div id="comment__prev">
            <label for="box__img1"><img class="comment__prev-item" src="./img/prev.png" alt="prev"></label>
            <label for="box__img2"><img class="comment__prev-item" src="./img/prev.png" alt="prev"></label>
            <label for="box__img3"><img class="comment__prev-item" src="./img/prev.png" alt="prev"></label>
        </div>
    </div>
    <div class="comment-row">
        <div class="comment-row__title font-large">
            <p>What Clients Say</p>
        </div>
        <div class="comment-row__item">
            <div class="comment-row__desc font-small"> 
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 500s, when an unknown printer took a galley of type.</p>
            </div>
            <div class="comment-row__author font-medium">
                <p>John Dove</p>
            </div>
        </div>
        <div class="comment-row__item">
            <div class="comment-row__desc font-small"> 
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 500s, when an unknown printer took a galley of type.</p>
            </div>
            <div class="comment-row__author font-medium">
                <p>John Dove</p>
            </div>
        </div>
        <div class="comment-row__item">
            <div class="comment-row__desc font-small"> 
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 500s, when an unknown printer took a galley of type.</p>
            </div>
            <div class="comment-row__author font-medium">
                <p>John Dove</p>
            </div>
        </div>
    </div>
</div>