<div class="tariff">
    <div class="wrap">
        <div class="tariff-plan column-three tariff__basic">
            <div class="tariff-plan__subtitle">Basic</div>
            <div class="tariff-plan__price">
                <p>$5.01/&nbsp;Month</p>
            </div>
            <ul>
                <li class="tariff-plan__item font-small">Lorem ipsum</li>
                <li class="tariff-plan__item font-small">Dolor sit amet, consect</li>
                <li class="tariff-plan__item font-small">Adipiscing elit</li>
                <li class="tariff-plan__item font-small">Proin commodo turpis</li>
                <li class="tariff-plan__item font-small">lacus pulvinarvel</li>
                <li class="tariff-plan__item font-small">Prnare nisi pretium.</li>
            </ul>
            <div class="tariff-plan__button">
                <a class="tariff-plan__btn" href="#">Buy now</a>
            </div>
        </div>
        <div class="tariff-plan column-three tariff__pro">
            <div class="tariff-plan__subtitle color-blue">
                <p>Pro</p>
            </div>
            <div class="tariff-plan__price">
                <p>$10.01/&nbsp;Month</p>
            </div>
            <ul>
                <li class="tariff-plan__item font-small">Lorem ipsum</li>
                <li class="tariff-plan__item font-small">Dolor sit amet, consect</li>
                <li class="tariff-plan__item font-small">Adipiscing elit</li>
                <li class="tariff-plan__item font-small">Proin commodo turpis</li>
                <li class="tariff-plan__item font-small">lacus pulvinarvel</li>
                <li class="tariff-plan__item font-small">Prnare nisi pretium.</li>
            </ul>
            <div class="tariff-plan__button">
                <a class="tariff-plan__btn color-blue" href="#">Buy now</a>
            </div>
        </div>
        <div class="tariff-plan column-three tariff-premium">
            <div class="tariff-plan__subtitle">
                <p>Premium</p>
            </div>
            <div class="tariff-plan__price">
                <p>$20.01/&nbsp;Month</p>
            </div>
            <ul>
                <li class="tariff-plan__item font-small">Lorem ipsum</li>
                <li class="tariff-plan__item font-small">Dolor sit amet, consect</li>
                <li class="tariff-plan__item font-small">Adipiscing elit</li>
                <li class="tariff-plan__item font-small">Proin commodo turpis</li>
                <li class="tariff-plan__item font-small">lacus pulvinarvel</li>
                <li class="tariff-plan__item font-small">Prnare nisi pretium.</li>
            </ul>
            <div class="tariff-plan__button">
                <a class="tariff-plan__btn" href="#">Buy now</a>
            </div>
        </div>
    </div>
</div>
