<div class="team wrap">
    <div class="team__title font-large">
        <p>The Team</p>
    </div>
    <div class="team__member member">
        <div class="member__one column team-member">
            <img class="team-member__img" src="./img/ellipse.png" alt="foto">
            <div class="team-member__name font-medium">
                <p>Adrian Thomas</p>
            </div>
            <div class="team-member__profession font-small">
                <p>CEO & Founder</p>
            </div>
            <div class="team-member__more--hidden team-hidden">
                <input class="team-hidden__toggle-box" id="team-identifier-1" type="checkbox">
                <label class="team-hidden__label font-small" for="team-identifier-1">...</label>
                <div class="team-hidden__description">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p> 
                </div>
            </div>
            <div class="team-member__description font-small">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
            </div>
        </div>
        <div class="member__two column team-member">
            <img class="team-member__img" src="./img/ellipse_pluse.png" alt="foto">
            <div class="team-member__name font-medium">
                <p>Narate Ketram</p>
            </div>
            <div class="team-member__profession font-small">
                <p>Creative Director</p>
            </div>
            <div class="team-member__more--hidden team-hidden">
                <input class="team-hidden__toggle-box" id="team-identifier-2" type="checkbox">
                <label class="team-hidden__label font-small" for="team-identifier-2">...</label>
                <div class="team-hidden__description">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p> 
                </div>
            </div>
            <div class="team-member__description font-small">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
            </div>
        </div>
        <div class="member__three column team-member">
            <img class="team-member__img" src="./img/ellipse.png" alt="foto">
            <div class="team-member__name font-medium">
                <p>Fernando Comet</p>
            </div>
            <div class="team-member__profession font-small">
                <p>CEO & Founder</p>
            </div>
            <div class="team-member__more--hidden team-hidden">
                <input class="team-hidden__toggle-box" id="team-identifier-3" type="checkbox">
                <label class="team-hidden__label font-small" for="team-identifier-3">...</label>
                <div class="team-hidden__description">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p> 
                </div>
            </div>
            <div class="team-member__description font-small">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
            </div>
        </div>
        <div class="member__four column team-member">
            <img class="team-member__img" src="./img/ellipse.png" alt="foto">
            <div class="team-member__name font-medium">
                <p>Adedayo Saheed</p>
            </div>
            <div class="team-member__profession font-small">
                <p>Creative Director</p>
            </div>
            <div class="team-member__more--hidden team-hidden">
                <input class="team-hidden__toggle-box" id="team-identifier-4" type="checkbox">
                <label class="team-hidden__label font-small" for="team-identifier-4">...</label>
                <div class="team-hidden__description">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p> 
                </div>
            </div>
            <div class="team-member__description font-small">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
            </div>
        </div>
    </div>
</div>
