<header class="header wrap clearfix">
    <div class="header__logo">
        <a href="#"><img src="./img/author.png" alt="Author"></a>
    </div>
    <div class="header__menu main-menu">
        <ul class="main-menu__list">
            <li class="main-menu__list-item"><a class="main-menu__link main-menu__link--active" href="#">Home</a></li>
            <li class="main-menu__list-item"><a class="main-menu__link" href="#">Service</a></li>
            <li class="main-menu__list-item"><a class="main-menu__link" href="#">Portfolio</a></li>
            <li class="main-menu__list-item"><a class="main-menu__link" href="#">Team</a></li>
            <li class="main-menu__list-item"><a class="main-menu__link" href="#">Blog</a></li>
            <li class="main-menu__list-item"><a class="main-menu__link" href="#">Contact</a></li>
        </ul>
    </div>
    <div class="gamburger-nav">
        <div class="gamburger-nav__line">
            <div class="nav__line nav__line-first"></div>
            <div class="nav__line nav__line-second"></div>
            <div class="nav__line nav__line-third"></div>
            <div class="nav__line nav__line-fourth"></div>
        </div>
        <div class="gamburger-nav__items">
            <div class="gamburger-nav__link"><a class="gamburger-nav__item" href="#">Home</a></div>
            <div class="gamburger-nav__link"><a class="gamburger-nav__item" href="#">Service</a></div>
            <div class="gamburger-nav__link"><a class="gamburger-nav__item" href="#">Portfolio</a></div>
            <div class="gamburger-nav__link"><a class="gamburger-nav__item" href="#">Team</a></div>
            <div class="gamburger-nav__link"><a class="gamburger-nav__item" href="#">Blog</a></div>
            <div class="gamburger-nav__link"><a class="gamburger-nav__item" href="#">Contact</a></div>
        </div>
    </div>
</header>
