<footer class="footer">
    <div class="wrap clearfix">
        <div class="footer__title font-large">
            <p>Contact Us</p>
        </div>
        <div class="footer__left section-left">
            <div class="section-left__subtitle">
                <p>Get in touch with us</p>
            </div>
            <div class="section-left__description font-small">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
            </div>
            <div class="footer__socials socials">
                <a class="socials__item" href="#"><img class="socials__img" src="./img/facebook.png" alt="Facebook"></a>
                <a class="socials__item" href="#"><img class="socials__img" src="./img/twitter.png" alt="Twitter"></a>
                <a class="socials__item" href="#"><img class="socials__img" src="./img/google.png" alt="Google+"></a>
            </div>
            <div class="footer__contact contact">
                <a class="contact__item font-small" href="skype:cssaauthor">Cssaauthor.com</a>
                <a class="contact__item font-small" href="tel:+375447195630">+XX-XXXX - XXXX - XX</a>
                <a class="contact__item font-small" href="mailto:info@cssauthor.com ">info@cssauthor.com</a>
            </div>
        </div>
        <div class="footer__right section-right">
            <form class="section-right__form" method="post" action="#">
            <input type="text" name="name" id="section-right__name" required placeholder="Name" autocomplete="off">
            <input type="email" name="mail" id="section-right__mail" required placeholder="Email">
            <textarea name="message" id="section-right__message" cols="79" rows="12" placeholder="Message"></textarea>
            <input class="section-right__submit color-blue font-medium" type="submit" value="Send" alt="Send">
        </div>
        <div class="footer__message send">
            <a class="footer__button" href="#">Send message</a>
        </div>
    </div>
</footer>
