<div class="service wrap">
    <div class="service-container">
        <div class="service-custom column service-item">
            <div class="service-item__img">
                <img class="service-item__pic" src="./img/custom.png" alt="Custom Designs">
            </div>
            <div class="service-item__subtitle font-medium">
                <p>Custom Designs</p>
            </div>
            <div class="service-item__description font-small">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
            </div>
            <a class="service-item__button color-blue font-small" href="#">Read More</a>
        </div>
        <div class="service-web column service-item">
            <div class="service-item__img">
                <img class="service-item__pic" src="./img/web.png" alt="Web Design">
            </div>
            <div class="service-item__subtitle font-medium">
                <p>Web Design</p>
            </div>
            <div class="service-item__description font-small">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
            </div>
            <a class="service-item__button color-blue font-small" href="#">Read More</a>    
        </div>
        <div class="service-blog column service-item">
            <div class="service-item__img">
                <img class="service-item__pic" src="./img/blog.png" alt="Blog Pages">
            </div>
            <div class="service-item__subtitle font-medium">
                <p>Blog Pages</p>
            </div>
            <div class="service-item__description font-small">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
            </div>
            <a class="service-item__button color-blue font-small" href="#">Read More</a>
        </div>
        <div class="service-mobile column service-item">
            <div class="service-item__img">
                <img class="service-item__pic" src="./img/mobile.png" alt="Mobile Friendly">
            </div>
            <div class="service-item__subtitle font-medium">
                <p>Mobile Friendly<p>
            </div>
            <div class="service-item__description font-small">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
            </div>
            <a class="service-item__button color-blue font-small" href="#">Read More</a>
        </div>
    </div>
</div>